:root{
    --tela-color: rgb(72, 134, 70);
}

.admin{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: none;
}






/*    Grid dos Icones     */

.gridIcones{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.gridIcones .icone{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.55s ease all;
    cursor: pointer;
}
.gridIcones .icone:hover{
    border: 0.5px solid white;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgb(89, 88, 88);
}
.gridIcones .icone img{
    width: 80px;
}


/*      Barra de Tarefas        */

.barra{
    box-sizing: border-box;
    width: 100vw;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: rgb(81, 150, 79);
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

.barra .sair{
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(72, 134, 70);
}
.barra .sair:hover img{
    width: 35px;
}

.barra .sair img{
    width: 30px;
    transition: 0.55s ease all;
}



/*         Cadastro         */


.containerCadastro{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.containerCadastro .cadastro{
    width: 600px;
    height: 300px;
    background-color: rgb(72, 134, 70);
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 0 0 10px black;
}

.base{
    width: 100%;
    height: 20px;
    background-color: rgb(177, 219, 192);
    border-radius: 10px 10px 0 0;
    text-align: end;
    position: relative;
}
.base .opSair{
    width: 12px;
    height: 12px;
    background-color: rgb(171, 2, 2);
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
}

.base .opSair:hover{
    background-color: rgb(255, 0, 0);
}

.containerCadastro .cadastro .opcoes{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.containerCadastro .cadastro .opcoes .cadastro-opcao{
    width: 140px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    cursor: pointer;
}
.containerCadastro .cadastro .opcoes .cadastro-opcao:hover{
    border: 0.5px solid rgb(180, 180, 180);
    box-shadow: 0 0px 20px rgb(89, 88, 88);
}
.containerCadastro .cadastro .opcoes .cadastro-opcao:hover p{
    font-size: 1.2rem;
}
.containerCadastro .cadastro .opcoes .cadastro-opcao p{
    font-size: 1.1rem;
    font-weight: 600;
}

.containerCadastro .cadastro img{
    width: 80px;
}


/*          Cadastro Formulários            */
.containerCadastroProdutos{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerCadastro .cadastroProduto{
    width: 400px;
    height: 440px;
    background-color: var(--tela-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0px 20px rgb(89, 88, 88);
}
.logoProdutos{
    width: 55%;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.logoProdutos img{
    width: 50px;
}

.logoProdutos p{
    font-size: 2rem;
}

.containerCadastro .cadastroProduto form{
    width: 80%;
    height: 25%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.containerCadastro .cadastroProduto form label{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerCadastro .cadastroProduto form label input{
    width: 30%;
}
.containerCadastro .cadastroProduto form input{
    box-sizing: border-box;
    width: 80%;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 3px 10px;
    border: none;
    background-color: rgba(220, 248, 220);
}
.containerCadastro .cadastroProduto form select{
    width: 40%;
    font-size: 1.1rem;
    margin-left: 10px;
    border-radius: 20px;
    padding: 3px 5px;
    background-color: rgba(220, 248, 220);
}

#cadastrarProduto{
    width: 80%;
    padding: 8px;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(29, 86, 29);
    color: white;

}
#cadastrarProduto:hover{
    box-shadow: 0 0px 20px rgb(255, 255, 255);
}
.sucessoCadastro{
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 20px;    
    background-color: var(--tela-color);
    font-weight: 700;
    border: 1px solid rgba(238, 237, 237, 0.211);
    box-shadow: 0 0px 20px rgb(89, 88, 88);
    display: none;
}





#containerCadastroClientes{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastroClientes{
    width: 500px;
    height: 500px;
    background-color: var(--tela-color);
    border-radius: 10px;
    box-shadow: 0 0px 20px rgb(89, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 9999999;
}
.ajusteLogoCliente img{
    margin-right: 20px;
}

.cadastroClientes form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-bottom: 30px;
}
.cadastroClientes form input{
    padding: 7px;
    border-radius: 20px;
    border: none;
    text-align: center;
}
.cadastroClientes form label{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.cadastroClientes form label #enderecoCliente,
.cadastroClientes form label #cidadeCliente{
    width: 70%;
}
.cadastroClientes form label #numEndereco,
.cadastroClientes form label #ufCliente{
    width: 20%;
}

#cadastroClientesdiv{
    display: none;
}


/*      ESTOQUE         */

.containerEstoque{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerEstoque .estoque {
    width: 600px;
    height: 700px;
    background-color: var(--tela-color);
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgb(89, 88, 88);
    z-index: 999999;
    display: none;
}
.containerEstoque .estoque .estoqueAbas{
    width: 100%;
    background-color: rgb(57, 115, 64);
    height: 60px;
    display: flex;
    align-items: center;
    gap: 0px;
    box-sizing: border-box;
    padding-top: 3px;
}


.containerEstoque .estoque .estoqueAbas .estoqueAbaProdutos,
.containerEstoque .estoque .estoqueAbas .estoqueAbaClientes{
    width: 120px;
    height: 100%;
    text-align: center;
    font-weight: 700;
    background-color: var(--tela-color);
    border-radius: 10px 10px 0 0 ;
}



.containerEstoque .estoque .estoqueAbas .estoqueAbaClientes{
    background-color: rgb(57, 115, 64);
    cursor: pointer;
    transition: all ease 0.55s;
}
.containerEstoque .estoque .estoqueAbas .estoqueAbaClientes:hover{
    background-color: rgb(62, 128, 70);
}
.abaProdutos, .abaClientes{
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 90%;
    background-color:var(--tela-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.abaClientes{
    display: none;
}
.areatabela{
    width: 95%;
    max-height: 80%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
}
.areatabela::-webkit-scrollbar{
    display: none;
}
.tabela{
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-spacing: 0;
}
.tabela th:first-child{
    border-radius: 8px 0 0 0;
}
.tabela th:last-child{
    border-radius: 0 8px 0 0;
}
.tabela tr:last-child td:first-child{
    border-radius: 0 0 0 8px;
}
.tabela tr:last-child td:last-child{
    border-radius: 0 0 8px 0;
}
.tabela th, td{
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
}

.tabelaOpcoes{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    position: absolute;
    bottom: 0;
}
.tabelaOpcoes .btnProdutos{
    width: 28%;
    height: 40%;
    font-size: 1.4rem;
    background-color: rgb(57, 115, 64);
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);
    cursor: pointer;
    transition: all ease 0.25s;
    border-radius: 4px;
}
.tabelaOpcoes .btnProdutos:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.657);
}