**{
    
    box-sizing: border-box;
}
.containerLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerLogin .login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.containerLogin .login .foto{
    background-color: rgb(143, 143, 143, 0.6);
    padding: 30px;
    border-radius: 100%;
    display: flex;
}
.containerLogin .login .foto img{
    width: 150px;
}

.containerLogin .login .entrada{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerLogin .login .entrada input{
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 250px;
    background-color: rgba(220, 248, 220, 0.656);
    font-weight: 600;
}


.containerLogin .login .entrada button{
    margin-left: 10px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.054);
    border: none;
    border-radius: 100px;
    display: flex;
    cursor: pointer;

}

.containerLogin .login .entrada button:hover img{
    width: 35px;
}

.containerLogin .login .entrada button img{
    width: 30px;
    transition: 0.55s ease all;
}

